In [1]:
import pandas as pd
import numpy as np
hourly_load = pd.read_csv('../clean_data/hourly_load_act_test.csv', parse_dates=['interval_start_local'])
solar = pd.read_csv('../clean_data/ercot_solar_actuals_allzones_2025.csv', parse_dates=['interval_start_local'])
wind = pd.read_csv('../clean_data/ercot_wind_actuals_hourly_2025.csv', parse_dates=['interval_start_local'])
lmp = pd.read_csv('../clean_data/LMP_2025_Hubs.csv', parse_dates=['datetime'])
weather = pd.read_csv('../clean_data/weather_hourly_2025.csv', parse_dates=['datetime'])

In [2]:
import pandas as pd
def ensure_localized(df, col, tz='America/Chicago', make_naive=True):
    """Parse `col` in `df` robustly and convert to timezone `tz`.
    - Tries parsing with `utc=True` first (handles strings with offsets like `-06:00`).
    - Falls back to parsing without `utc` and then localizing naive timestamps.
    - Converts to `tz` and (optionally) drops tz info producing naive local times.
    """
    if col not in df.columns:
        print(f"column not found: {col}")
        return
    # First try: parse with utc=True (works for strings that include offsets)
    s = pd.to_datetime(df[col], errors='coerce', utc=True)
    # If parsing produced all NaT or resulted in tz-naive series, try fallback parse
    if s.isna().all() or (getattr(s.dt, 'tz', None) is None):
        s = pd.to_datetime(df[col], errors='coerce')
        # If still naive (no tz), localize to tz
        if getattr(s.dt, 'tz', None) is None:
            try:
                s = s.dt.tz_localize(tz)
            except Exception:
                # some strings may already include offsets; reparse with utc
                s = pd.to_datetime(df[col], errors='coerce', utc=True)
    # At this point s should be tz-aware (UTC or localized)
    if getattr(s.dt, 'tz', None) is not None:
        try:
            s = s.dt.tz_convert(tz)
        except Exception:
            # if conversion fails, keep as-is
            pass
    # Optionally drop tz info to produce naive local timestamps
    if make_naive and getattr(s.dt, 'tz', None) is not None:
        s = s.dt.tz_localize(None)
    df[col] = s

# Apply to the dataframes already loaded above
tz = 'America/Chicago'
ensure_localized(hourly_load, 'interval_start_local', tz=tz, make_naive=True)
ensure_localized(solar, 'interval_start_local', tz=tz, make_naive=True)
ensure_localized(wind, 'interval_start_local', tz=tz, make_naive=True)
ensure_localized(lmp, 'datetime', tz=tz, make_naive=True)
ensure_localized(weather, 'datetime', tz=tz, make_naive=True)

# Quick verification prints
for name, df, col in [
    ('hourly_load', hourly_load, 'interval_start_local'),
    ('solar', solar, 'interval_start_local'),
    ('wind', wind, 'interval_start_local'),
    ('lmp', lmp, 'datetime'),
    ('weather', weather, 'datetime'),
]:
    if col in df.columns:
        print(f"{name} -> {col} dtype:", df[col].dtype, "nulls:", df[col].isna().sum())
        display(df[[col]].head(3))
    else:
        print(f"{name} missing column {col}")

hourly_load -> interval_start_local dtype: datetime64[ns] nulls: 0

  interval_start_local
0  2025-01-01 00:00:00
1  2025-01-01 01:00:00
2  2025-01-01 02:00:00

solar -> interval_start_local dtype: datetime64[ns] nulls: 0

  interval_start_local
0  2025-01-01 00:00:00
1  2025-01-01 01:00:00
2  2025-01-01 02:00:00

wind -> interval_start_local dtype: datetime64[ns] nulls: 0

  interval_start_local
0  2025-01-01 00:00:00
1  2025-01-01 01:00:00
2  2025-01-01 02:00:00

lmp -> datetime dtype: datetime64[ns] nulls: 0

             datetime
0 2024-12-31 18:00:00
1 2024-12-31 19:00:00
2 2024-12-31 20:00:00

weather -> datetime dtype: datetime64[ns] nulls: 0

             datetime
0 2024-12-31 18:00:00
1 2024-12-31 19:00:00
2 2024-12-31 20:00:00

In [3]:
wind.drop(columns=['interval_start_utc', 'interval_end_utc', 'interval_end_local'], inplace=True)

In [4]:
weather.rename(columns={'datetime':'interval_start_local'}, inplace=True)
lmp.rename(columns={'datetime':'interval_start_local'}, inplace=True)

In [5]:
merged = hourly_load.merge(solar, on='interval_start_local', how='left')
merged = merged.merge(wind, on='interval_start_local', how='left')
merged = merged.merge(lmp, on='interval_start_local', how='left')
merged = merged.merge(weather, on='interval_start_local', how='left')

In [6]:
merged.isna().sum()

interval_start_local      0
interval_start_utc        0
interval_end_local        0
interval_end_utc          0
coast                     0
east                      0
far_west                  0
north                     0
north_central             0
south_central             0
southern                  0
west                      0
system_total              0
gen_system_wide_x        24
gen_centerwest           24
gen_northwest            24
gen_fareast              24
gen_southeast            24
gen_centereast           24
publish_time_local       24
publish_time_utc         24
gen_system_wide_y        25
gen_lz_south_houston     25
gen_lz_west              25
gen_lz_north             25
HB_BUSAVG                 1
HB_HOUSTON                1
HB_HUBAVG                 1
HB_NORTH                  1
HB_PAN                    1
HB_SOUTH                  1
HB_WEST                   1
TEMP_C                  123
TEMP_qc                 122
DEW_C                   123
DEW_qc                  122
SLP_hPa                 124
SLP_qc                  122
WIND_DIR_deg            383
WIND_DIR_qc             122
WIND_SPD_ms             124
WIND_SPD_qc             122
dtype: int64

In [7]:
# Drop rows with HB_BUSAVG is NA
merged = merged[~merged['HB_BUSAVG'].isna()]

In [8]:
# Diagnostic: inspect the in-memory `merged` DataFrame (cell 17 context)
import pandas as pd
# ensure datetime column is parsed if present
dt_col = None
for c in ['interval_start_local','datetime','start','timestamp']:
    if c in merged.columns:
        dt_col = c
        break
if dt_col is not None:
    merged[dt_col] = pd.to_datetime(merged[dt_col], errors='coerce')
print('Columns in merged (count={}):'.format(len(merged.columns)))
print(list(merged.columns))
# Find candidate HB/LMP columns by keyword
candidates = [c for c in merged.columns if any(k in c.lower() for k in ('hb','busavg','lmp','hub','bus'))]
print('LMP/HB candidate columns:', candidates)
# If HB_BUSAVG exists, show its stats; otherwise show stats for candidates
target = 'HB_BUSAVG' if 'HB_BUSAVG' in merged.columns else (candidates[0] if candidates else None)
if target is None:
    print('No HB/LMP-like column found in `merged`.')
else:
    print('Using column for LMP analysis:', target)
    ser = merged[target]
    print(ser.describe())
    print('nulls:', ser.isna().sum(), 'of', len(ser))
    # show sample values where not null
    print('Sample non-null values:')
    display(merged.loc[merged[target].notna(), [dt_col, target]].head(10))
    # continuity check on rows where this LMP is present
    if dt_col is not None:
        df_present = merged.loc[merged[target].notna()].copy()
        df_present = df_present.sort_values(dt_col)
        s = pd.to_datetime(df_present[dt_col])
        diffs = s.diff().dt.total_seconds()/3600.0
        gaps = (diffs>1.001).sum()
        print('Rows with LMP present:', len(df_present))
        print('Gaps (diff>1.001h) among those rows:', gaps)
        # per-day completeness
        sdf = pd.DataFrame({dt_col: s})
        sdf['date'] = sdf[dt_col].dt.date
        sdf['hour'] = sdf[dt_col].dt.hour
        days = []
        for date, g in sdf.groupby('date'):
            hours = sorted(g['hour'].unique())
            days.append((date, len(hours)))
        full_days = sum(1 for d,n in days if n==24)
        print('Days with full 24 hours for rows where LMP present:', full_days, 'of', len(days))
    else:
        print('Skipping LMP continuity check because no datetime column found in merged.')

Columns in merged (count=42):
['interval_start_local', 'interval_start_utc', 'interval_end_local', 'interval_end_utc', 'coast', 'east', 'far_west', 'north', 'north_central', 'south_central', 'southern', 'west', 'system_total', 'gen_system_wide_x', 'gen_centerwest', 'gen_northwest', 'gen_fareast', 'gen_southeast', 'gen_centereast', 'publish_time_local', 'publish_time_utc', 'gen_system_wide_y', 'gen_lz_south_houston', 'gen_lz_west', 'gen_lz_north', 'HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_PAN', 'HB_SOUTH', 'HB_WEST', 'TEMP_C', 'TEMP_qc', 'DEW_C', 'DEW_qc', 'SLP_hPa', 'SLP_qc', 'WIND_DIR_deg', 'WIND_DIR_qc', 'WIND_SPD_ms', 'WIND_SPD_qc']
LMP/HB candidate columns: ['HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_PAN', 'HB_SOUTH', 'HB_WEST']
Using column for LMP analysis: HB_BUSAVG
count    5830.000000
mean       31.890401
std        44.616454
min       -31.770000
25%        19.460000
50%        24.720000
75%        34.757500
max      1754.830000
Name: HB_BUSAVG, dtype: float64
nulls: 0 of 5830
Sample non-null values:

  interval_start_local  HB_BUSAVG
0  2025-01-01 00:00:00      20.49
1  2025-01-01 01:00:00      20.94
2  2025-01-01 02:00:00      21.88
3  2025-01-01 03:00:00      14.78
4  2025-01-01 04:00:00       8.09
5  2025-01-01 05:00:00      13.29
6  2025-01-01 06:00:00      15.22
7  2025-01-01 07:00:00      15.17
8  2025-01-01 08:00:00      14.93
9  2025-01-01 09:00:00       6.75

Rows with LMP present: 5830
Gaps (diff>1.001h) among those rows: 2
Days with full 24 hours for rows where LMP present: 241 of 243

In [9]:
merged.to_csv('../clean_data/test_data_baseline.csv', index=False)