In [2]:
# Grab weather data from clean_data/cleaned_DFW_weather.csv
import pandas as pd
weather_df = pd.read_csv('../clean_data/cleaned_DFW_weather.csv')
print(weather_df.head())

       STATION                 DATE  SOURCE  LATITUDE  LONGITUDE  ELEVATION  \
0  72259003927  2021-01-01T00:00:00       4  32.89744  -97.02196      165.7
1  72259003927  2021-01-01T00:53:00       7  32.89744  -97.02196      165.7
2  72259003927  2021-01-01T01:24:00       7  32.89744  -97.02196      165.7
3  72259003927  2021-01-01T01:51:00       6  32.89744  -97.02196      165.7
4  72259003927  2021-01-01T01:53:00       7  32.89744  -97.02196      165.7

                           NAME REPORT_TYPE CALL_SIGN QUALITY_CONTROL  ...  \
0  DAL FTW WSCMO AIRPORT, TX US       FM-12     99999            V020  ...
1  DAL FTW WSCMO AIRPORT, TX US       FM-15     KDFW             V030  ...
2  DAL FTW WSCMO AIRPORT, TX US       FM-16     KDFW             V030  ...
3  DAL FTW WSCMO AIRPORT, TX US       FM-16     KDFW             V030  ...
4  DAL FTW WSCMO AIRPORT, TX US       FM-15     KDFW             V030  ...

  DEW_C DEW_qc SLP_hPa SLP_qc WIND_DIR_deg WIND_DIR_qc WIND_TYPE WIND_SPD_ms  \
0   2.8    1.0  1002.9      1         30.0           1         N         9.3
1   2.8    5.0  1001.7      5         20.0           5         N         9.3
2   2.8    5.0     NaN      9         20.0           5         N         9.3
3   3.0    5.0     NaN      9        360.0           5         N         3.1
4   2.8    5.0  1003.2      5        350.0           5         N         3.1

  WIND_SPD_qc             datetime
0         1.0  2021-01-01 00:00:00
1         5.0  2021-01-01 00:53:00
2         5.0  2021-01-01 01:24:00
3         5.0  2021-01-01 01:51:00
4         5.0  2021-01-01 01:53:00

[5 rows x 118 columns]

/var/folders/5v/2ljsc8_n2cv62zbxy_jkx52h0000gn/T/ipykernel_30139/2193234884.py:3: DtypeWarning: Columns (22,23,24,25,26,27,36,43,44,45,56,57,58,62,91,100,103,104,105) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_df = pd.read_csv('../clean_data/cleaned_DFW_weather.csv')

In [3]:
# set datetime as index
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
weather_df.set_index('datetime', inplace=True)
print(weather_df.index)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 00:53:00',
               '2021-01-01 01:24:00', '2021-01-01 01:51:00',
               '2021-01-01 01:53:00', '2021-01-01 02:18:00',
               '2021-01-01 02:32:00', '2021-01-01 02:43:00',
               '2021-01-01 02:53:00', '2021-01-01 03:00:00',
               ...
               '2024-12-31 16:53:00', '2024-12-31 17:53:00',
               '2024-12-31 18:00:00', '2024-12-31 18:53:00',
               '2024-12-31 19:53:00', '2024-12-31 20:53:00',
               '2024-12-31 21:00:00', '2024-12-31 21:53:00',
               '2024-12-31 22:53:00', '2024-12-31 23:53:00'],
              dtype='datetime64[ns]', name='datetime', length=53854, freq=None)

In [7]:
# Look for na values
print(weather_df.isna().sum())

STATION            0
DATE               0
SOURCE             0
LATITUDE           0
LONGITUDE          0
                ...
WIND_DIR_deg    5037
WIND_DIR_qc        0
WIND_TYPE          0
WIND_SPD_ms     1533
WIND_SPD_qc       15
Length: 117, dtype: int64

In [8]:
# Resample to hourly data â€” only numeric columns (avoid object/string columns)
# Use lowercase 'h' (future-proof) and numeric_only to skip non-numeric columns
weather_hourly = weather_df.resample('h').mean(numeric_only=True)
print(weather_hourly.head())

                          STATION    SOURCE  LATITUDE  LONGITUDE  ELEVATION  \
datetime
2021-01-01 00:00:00  7.225900e+10  5.500000  32.89744  -97.02196      165.7
2021-01-01 01:00:00  7.225900e+10  6.666667  32.89744  -97.02196      165.7
2021-01-01 02:00:00  7.225900e+10  7.000000  32.89744  -97.02196      165.7
2021-01-01 03:00:00  7.225900e+10  6.500000  32.89744  -97.02196      165.7
2021-01-01 04:00:00  7.225900e+10  7.000000  32.89744  -97.02196      165.7

                     TEMP_C   TEMP_qc     DEW_C    DEW_qc  SLP_hPa    SLP_qc  \
datetime
2021-01-01 00:00:00    3.30  3.000000  2.800000  3.000000  1002.30  3.000000
2021-01-01 01:00:00    3.20  5.000000  2.866667  5.000000  1003.20  7.666667
2021-01-01 02:00:00    3.30  5.000000  3.175000  5.000000  1003.00  8.000000
2021-01-01 03:00:00    3.25  4.333333  2.916667  4.333333  1003.15  7.000000
2021-01-01 04:00:00    2.90  5.000000  2.900000  5.000000  1002.50  7.000000

                     WIND_DIR_deg  WIND_DIR_qc  WIND_SPD_ms  WIND_SPD_qc
datetime
2021-01-01 00:00:00     25.000000     3.000000     9.300000     3.000000
2021-01-01 01:00:00    243.333333     5.000000     5.166667     5.000000
2021-01-01 02:00:00    312.500000     5.000000     4.600000     5.000000
2021-01-01 03:00:00    316.666667     4.333333     4.933333     4.333333
2021-01-01 04:00:00    325.000000     5.000000     5.100000     5.000000

In [9]:
weather_hourly.drop(columns=['STATION', "SOURCE", 'LATITUDE', 'LONGITUDE', 'ELEVATION'], inplace=True)

In [10]:
weather_hourly.head()

,TEMP_C,TEMP_qc,DEW_C,DEW_qc,SLP_hPa,SLP_qc,WIND_DIR_deg,WIND_DIR_qc,WIND_SPD_ms,WIND_SPD_qc
datetime,,,,,,,,,,
2021-01-01 00:00:00,3.30,3.000000,2.800000,3.000000,1002.30,3.000000,25.000000,3.000000,9.300000,3.000000
2021-01-01 01:00:00,3.20,5.000000,2.866667,5.000000,1003.20,7.666667,243.333333,5.000000,5.166667,5.000000
2021-01-01 02:00:00,3.30,5.000000,3.175000,5.000000,1003.00,8.000000,312.500000,5.000000,4.600000,5.000000
2021-01-01 03:00:00,3.25,4.333333,2.916667,4.333333,1003.15,7.000000,316.666667,4.333333,4.933333,4.333333
2021-01-01 04:00:00,2.90,5.000000,2.900000,5.000000,1002.50,7.000000,325.000000,5.000000,5.100000,5.000000

In [11]:
# save to csv
weather_hourly.to_csv('../clean_data/weather_hourly.csv')

In [16]:
# grab ercot_load_actuals_2021_2024.csv
ercot_load = pd.read_csv('../clean_data/ercot_load_actuals_2021_2024.csv')
print(ercot_load.head())

        interval_start_local         interval_start_utc  \
0  2021-01-01 00:00:00-06:00  2021-01-01 06:00:00+00:00
1  2021-01-01 00:05:00-06:00  2021-01-01 06:05:00+00:00
2  2021-01-01 00:10:00-06:00  2021-01-01 06:10:00+00:00
3  2021-01-01 00:15:00-06:00  2021-01-01 06:15:00+00:00
4  2021-01-01 00:20:00-06:00  2021-01-01 06:20:00+00:00

          interval_end_local           interval_end_utc   load
0  2021-01-01 00:05:00-06:00  2021-01-01 06:05:00+00:00  43714
1  2021-01-01 00:10:00-06:00  2021-01-01 06:10:00+00:00  43681
2  2021-01-01 00:15:00-06:00  2021-01-01 06:15:00+00:00  43647
3  2021-01-01 00:20:00-06:00  2021-01-01 06:20:00+00:00  43614
4  2021-01-01 00:25:00-06:00  2021-01-01 06:25:00+00:00  43581

In [17]:
# keep only interval start local
ercot_load.drop(columns=['interval_end_local', 'interval_start_utc', 'interval_end_utc'], inplace=True)

In [18]:
ercot_load['interval_start_local'] = (
    pd.to_datetime(ercot_load['interval_start_local'], errors='coerce', utc=True)
      .dt.tz_convert('America/Chicago')
      .dt.tz_localize(None)
)
ercot_load.set_index('interval_start_local', inplace=True)
ercot_hourly = ercot_load.resample('h').mean(numeric_only=True)

In [19]:
ercot_hourly.head()

                              load
interval_start_local
2021-01-01 00:00:00   43530.833333
2021-01-01 01:00:00   43192.500000
2021-01-01 02:00:00   43059.916667
2021-01-01 03:00:00   43245.666667
2021-01-01 04:00:00   43783.500000

In [20]:
# save load data
ercot_hourly.to_csv('../clean_data/hourly_load_act.csv')